@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UniWare_PandoIntegration</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UniWare_PandoIntegration.styles.css" asp-append-version="true" />
    @*<link href="~/css/fontawesome4.7.0.min.css" rel="stylesheet" />*@
    <link href="~/lib/bootstrap/dist/css/fontawesome4.7.0.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <style>
        i.fa.fa-bell {
            font-size: 20px;
            color: #dc3545;
        }

        a.logo {
            text-decoration: none;
        }

        span.logo-text {
            text-decoration: none;
            font-family: cursive;
            color: #dc3545;
            font-size: 28px;
            /* text-decoration: none; */
            /* text-shadow: 2px 2px; */
        }

        footer.footer.text-center {
            background: whitesmoke;
        }

        header.topbar {
            padding: 0px 20px;
            /*box-shadow: 1px 0px 7px rgba(0,0,0,0.05);*/
            /*background: #fff*/
            background: whitesmoke;
        }

        body {
            background-color: #fff !important;
        }

        #overlay {
            position: absolute;
            top: 0;
            z-index: 100;
            width: 100%;
            height: 100%;
            display: none;
            /*background: rgba(253 48 34,0.4);*/
            background: rgba(0,0,0,0.4);
        }

        .cv-spinner {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .spinner {
            width: 40px;
            height: 40px;
            border: 4px #ddd solid;
            border-top: 4px #2e93e6 solid;
            border-radius: 50%;
            animation: sp-anime 0.8s infinite linear;
        }

        @@keyframes sp-anime {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .notification_bell_icon {
            /*background-color: #eb94d0;*/
            color: white;
            text-decoration: none;
            /*padding: 8px 10px;*/
            position: relative;
            display: inline-block;
            /*border-radius: 2px;*/
        }

            /* Darker background on mouse-over */
            .notification_bell_icon:hover {
                /*background: red;*/
            }

            .notification_bell_icon .badge {
                position: absolute;
                /*top: -1px;*/
                top: 4px;
                right: 0px;
                padding: 2px 5px;
                border-radius: 50%;
                background-color: #dc3545;
                color: white;
                margin-right: -13px;
            }

        .Menu_NOtification_Wrap .Notification_body .single_notify:last-child {
         
            border-bottom: 0px !important;
        }
        .Menu_NOtification_Wrap .notification_Header {
            padding: 10px 15px;
            border-radius: 10px 10px 0 0;
            background: #dc3545;
            color: white;
        }

        .Menu_NOtification_Wrap {
            background: #fff;
            box-shadow: 0 10px 15px rgba(6,0,8,.22);
            border-radius: 10px;
            position: absolute;
            right: 0;
            width: 320px;
            transform: translateY(30px) translateX(20px);
            opacity: 0;
            visibility: hidden;
            transition: .3s;
            padding-top:0px !important;
        }

            .Menu_NOtification_Wrap {
                opacity: 1;
                visibility: visible;
                transform: translateY(20px) translateX(20px);
            }

            .Menu_NOtification_Wrap .Notification_body {
                padding: 20px;
                height: 150px;
                overflow: auto;
            }

            .Menu_NOtification_Wrap .Notification_body .single_notify {
                margin-bottom: 10px;
                border-bottom: 1px solid whitesmoke;
            }

            .single_notify:hover {
                background: whitesmoke;
                cursor:pointer;
               
            }
            .Menu_NOtification_Wrap .Notification_body .single_notify .notify_thumb {
                margin-right: 15px;
            }

            .Menu_NOtification_Wrap .Notification_body .single_notify .notify_thumb span {
                width: 35px;
                height: 35px;
                border-radius: 5px;
                font-size: 18px;
                text-align: center;
                background-color: #dc3545;
                font-weight: 700;
                text-transform: uppercase;
                padding: 8px 6px;
                min-width: 19px;
            }

        p.error_popup_list {
            margin-bottom: 0px;
        }
        a.error_popup_list {
            text-decoration: none;
        }
        a.logo:hover, a.notification_bell_icon:hover, a.waves-dark.pro-pic:hover {
        text-decoration: none !important;
    }

    .dataTables_length {
    display: none;
}
    .animated a.dropdown-item {
    text-decoration: none;
}
a.dropdown-toggle.text-muted.waves-effect.waves-dark.pro-pic.notification_bell_icon:after {
    display: none;
}
ul.navbar-nav.float-start {
    padding-right: 10px;
}
div#NotificationDraftdata {
    border-radius: 10px 10px 0 0;
}
    </style>
    
</head>
<body>
    <div id="overlay">
        <div class="cv-spinner">
            @*<img src="~/Images/Loader_durovideo.mp4" style="height: 57px;" alt="Loading" />*@
            <video autoplay poster="~/Images/Loader_durovideo.mp4" muted loop id="myVideo" style="width: 200px; height: 100px;" class="">
                <source src="~/Images/Loader_durovideo.mp4" style="width: 200px; height: 100px;" type="video/mp4">
            </video>
            @*<span class="spinner"></span>*@
        </div>
    </div>
    @* <div class="loader">
    <div class="lds-ripple">
    <div class="lds-pos"></div>
    <div class="lds-pos"></div>
    </div>
    </div>*@
    <div class="header_section" id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full" data-boxed-layout="full">
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <div class="col-md-11 navbar-header" data-logobg="skin5">
                    <div class="navbar-brand">
                        <a href="~/Home/Dashboard" class="logo">
                            <span class="logo-text">
                                @*<img src="d:\duroflex\uniwarepandointegration\uniware_pandointegration\uniware_pandointegration\images\uniware.png" />*@
                                @* <img src="~/Images/uniware1.png" alt="D" class="dark-logo" style="height: 57px;" />*@
                                Integration of Uniware & Pando
                            </span>
                        </a>
                    </div>
                </div>
                <div class="navbar-collapse collapse col-md-1" id="navbarSupportedContent" data-navbarbg="skin6">

                    <ul class="navbar-nav float-start">
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle text-muted waves-effect waves-dark pro-pic notification_bell_icon" href="#" id="" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                                <i class="fa fa-bell"></i>
                                <span class="badge">
                                    @*<span id="Count_zero"></span>*@
                                    <span id="Count"></span>
                                </span>
                            </a>
                            @*<ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown" href=""  >*@
                                <div class="Menu_NOtification_Wrap dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" id="NotificationDraftdata">
                                    <div class="notification_Header">
                                        <h5>Error Notifications</h5>                                        
                                    </div>
                                    <div class="Notification_body">
                                    <div style="display:none!important;" id="sale" onclick="fn_BindTable()" class="single_notify d-flex align-items-center">
                                            <div class="notify_thumb">
                                                <a href="#">
                                                    <span class="badge badge-pill label-purple"> N</span>
                                                </a>
                                            </div>
                                            <div class="notify_content" href="javascript:void(0)">
                                                <p class="error_popup_list">
                                                    Sale Order API
                                                </p>
                                            </div>
                                        </div>
                                    <div style="display:none!important;" id="waygen" onclick="fn_WaybillErrorList()" class="single_notify d-flex align-items-center">
                                            <div class="notify_thumb">
                                                <a href="#">
                                                    <span class="badge badge-pill label-purple"> N</span>
                                                </a>
                                            </div>
                                            <div class="notify_content" href="javascript:void(0)">
                                                <p class="error_popup_list">
                                                    Waybill Generation
                                                </p>
                                            </div>
                                        </div>
                                    <div style="display:none!important;" id="return" onclick="fn_ReturnOrderErrorList()" class="single_notify d-flex align-items-center">
                                            <div class="notify_thumb">
                                                <a href="#">
                                                    <span class="badge badge-pill label-purple"> N</span>
                                                </a>
                                            </div>
                                            <div class="notify_content" href="javascript:void(0)">
                                                <p class="error_popup_list">
                                                    Return Order API
                                                </p>
                                            </div>
                                        </div>
                                    <div style="display:none!important;" id="STO" onclick="fn_STOWaybillErrorList()" class="single_notify d-flex align-items-center">
                                            <div class="notify_thumb">
                                                <a href="#">
                                                    <span class="badge badge-pill label-purple"> N</span>
                                                </a>
                                            </div>
                                            <div class="notify_content" href="javascript:void(0)">
                                                <p class="error_popup_list">
                                                    STO Waybill
                                                </p>
                                            </div>
                                        </div>
                                    <div style="display:none!important;" id="STOAPI" onclick="fn_STOAPI()" class="single_notify d-flex align-items-center">
                                            <div class="notify_thumb">
                                                <a href="#">
                                                    <span class="badge badge-pill label-purple"> N</span>
                                                </a>
                                            </div>
                                            <div class="notify_content" href="javascript:void(0)">
                                                <p class="error_popup_list">
                                                    STO API
                                                </p>
                                            </div>
                                        </div>

                                   
                                    </div>
                                </div>
                               
                               

                            @*</ul>*@
                            @*<ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown" onclick="" href="#" id="navbarDropdowns">
                                <a class="dropdown-item" href="javascript:void(0)" onclick="">
                                    <i class="fa fa-user me-1 ms-1"></i>

                                    @HttpContextAccessor.HttpContext.Session.GetString("UserName")
                                </a>
                               @* <a class="dropdown-item" href="javascript:void(0)" onclick="window.location.href = '@Url.Action("Logout", "Home")'; ">
                                    <i class="fa fa-user me-1 ms-1"></i>
                                    Logout
                                </a>
                            </ul>*@
                        </li>
                    </ul>
                    <ul class="navbar-nav float-end">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/Images/user.png" alt="user" class="rounded-circle" width="31" />
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="javascript:void(0)" onclick="">
                                    <i class="fa fa-user me-1 ms-1"></i>
                                    
                                    @HttpContextAccessor.HttpContext.Session.GetString("UserName")
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)" onclick="window.location.href = '@Url.Action("Logout", "Home")'; ">
                                    <i class="fa fa-user me-1 ms-1"></i>
                                    Logout
                                </a>
                            </ul>
                        </li>



                    </ul>
                </div>
            </nav>
        </header>
        @*   <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">UniWare_PandoIntegration</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>
        </ul>
        </div>
        </div>
        </nav>
        </header>*@
        <div class="container">
            <main role="main" class="pb-3">
                <div class="row" id="errorList">
                    @RenderBody()
                </div>

            </main>
        </div>
        <footer class="footer text-center">
            All Rights Reserved by Duroflex Pvt Ltd Designed and Developed by
            <a href="#" target="_blank">&copy; @DateTime.Now.Year - UniWare_PandoIntegration</a>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery-3.7.0.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/toast.min.js"></script>
    <script src="~/js/jquery.datatables.min.js"></script>
    <script src="~/js/datatables.bootstrap.min.js"></script>
    <script src="~/js/datatables.responsive.min.js"></script>
    <script src="~/js/responsive.bootstrap.min.js"></script>
    <link href="~/css/css_datatables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/css_responsive.bootstrap.min.css" rel="stylesheet" />
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(document).ready(function (ev) {
            Notificationerrorcode();
        });
        function Notificationerrorcode() {
            debugger;
            //var length = 'HttpContext.Session.Getstring("Errorcodeoccur")'
            
                $.ajax({
                    url: "/Home/NotificationErrorListCount",
                    type: 'GET',
                    success: function (data,result) {
                        debugger;
                    //alert(data);//var UserName = @HttpContextAccessor.HttpContext.Session.GetString("NotificationCount")
                    //if (data.id == 1) {
                           
                    //    $("#Count").html(data);
                    //}
                   //if(data.name[0] == "Sale Order API")
                   //{
                   //     //notification
                   //     //$("#notification").css("display", "block");
                   //     $("#sale").css("display", "block");
                   //}
                    if (data.name.includes('Sale Order API'))
                    {
                        $("#sale").css("display", "block");
                    }
                    if (data.name.includes('Waybill generation')) {
                        $("#waygen").css("display", "block");
                    }
                    if (data.name.includes('return Order')) {
                        $("#return").css("display", "block");
                    }
                    if (data.name.includes('STO Waybill')) {
                        $("#STO").css("display", "block");
                    }
                    if (data.name.includes('STO API')) {
                        $("#STOAPI").css("display", "block");
                    }
                    if (data.id == 0){
                        $("a").removeClass("dropdown-toggle");
                        $(".badge").css("background-color", "whitesmoke");
                        $("i.fa.fa-bell").css("color", "blue");
                        $("#Count").css("display", "none");
                        $("a").css("cursor", "default");
                        $(".Menu_NOtification_Wrap ").css("display", "none");
                        

                    }
                    else{
                        $("#Count").css("display", "block");
                        //$(".Menu_NOtification_Wrap ").css("display", "block");
                        $("#Count").html(data.id);
                    }

                        //$("#Count").html(data.id);
                    
                    }
                });
            //debugger;
           
        }
        //function fn_saleorder() {
        //    debugger;
        //    //alert('hello');
        //    $("#overlay").fadeIn(500);
        //    $.get("/Home/ErrorList", {}).done(function (data) {
                
        //        debugger;
        //        //$("#errorList").html(data);
        //        if (data.data.length != 0){
        //            debugger
        //            $('#example').DataTable({
        //                "processing": true,
        //                "info": true,
        //                "stateSave": true,
        //                //ScanReports = data,
        //                data: data.data,
        //                columns: [
        //                    { data: '', title: 'saleOrder/search' },
        //                    { data: 'CODE', title: 'saleorder/get' },
        //                    { data: 'itemSku', title: 'itemType/get' },
        //                    { data: 'Triggerid', title: 'delivery-picklist' },
        //                    { data: "Reason", title: 'Reason' }
        //                ]
        //            })
        //            $("#overlay").fadeOut(500);
        //            }
        //            else{
        //                iqwerty.toast.toast("No Data Found!!");
        //                $("#overlay").fadeOut(500);
        //            }
                
                


        //        //alert("fn_BindTable()");
        //        //window.location.href = "/Home/Errorlist";
        //        //$('#errorList').load("ErrorList.cshtml");
        //    });
        //}
        //function fn_waybill() {
        //    debugger;
        //    //alert('hello');
        //    $("#overlay").fadeIn(500);
        //    $.get("/Home/WaybillErrorList", {}).done(function (data) {
        //        $("#overlay").fadeOut(500);
        //        debugger;
        //        $("#errorList").html(data);
        //        //alert("fn_BindTable()");
        //        //window.location.href = "/Home/Errorlist";
        //        //$('#errorList').load("ErrorList.cshtml");
        //    });
        //}
        //function fn_returnorder() {
        //    debugger;
        //    //alert('hello');
        //    $("#overlay").fadeIn(500);
        //    $.get("/Home/ReturnOrderErrorList", {}).done(function (data) {
        //        $("#overlay").fadeOut(500);
        //        debugger;
        //        $("#errorList").html(data);
        //        //alert("fn_BindTable()");
        //        //window.location.href = "/Home/Errorlist";
        //        //$('#errorList').load("ErrorList.cshtml");
        //    });
        //}
        //function fn_STOwaybill() {
        //    debugger;
        //    //alert('hello');
        //    $("#overlay").fadeIn(500);
        //    $.get("/Home/STOWaybillErrorList", {}).done(function (data) {
        //        $("#overlay").fadeOut(500);
        //        debugger;
        //        $("#errorList").html(data);
        //        //alert("fn_BindTable()");
        //        //window.location.href = "/Home/Errorlist";
        //        //$('#errorList').load("ErrorList.cshtml");
        //    });
        //}
        //function fn_STOApi() {
        //    debugger;
        //    //alert('hello');
        //    $("#overlay").fadeIn(500);
        //    $.get("/Home/STOAPIErrorList", {}).done(function (data) {               
        //        debugger;
        //        $("#errorList").html(data);
        //        //alert("fn_BindTable()");
        //        //window.location.href = "/Home/Errorlist";
        //        //$('#errorList').load("ErrorList.cshtml");

        //        //if (data.data.length != 0) {
        //        //    debugger;
        //        //    $('#example1').DataTable({
        //        //        "processing": true,
        //        //        "info": true,
        //        //        "stateSave": true,
        //        //        //ScanReports = data,
        //        //        data: data.data,
        //        //        columns: [
                           
        //        //            { data: 'CODE', title: 'Gate Pass Code' },
        //        //            { data: 'itemSku', title: 'ItemType SKU' },
        //        //            { data: 'Triggerid', title: 'Post Data Reasult' },
        //        //            { data: "Reason", title: 'Reason' }
        //        //        ]
        //        //    })
        //        //    $("#overlay").fadeOut(500);
        //        //}
        //        //else {
        //        //    iqwerty.toast.toast("No Data Found!!");
        //        //    $("#overlay").fadeOut(500);
        //        //}
        //    });
        //}
    </script>
</body>
</html>
