@model Uniware_PandoIntegration.Entities.UserProfile
@{
    ViewBag.Title = "Reset Password";
    Layout = null;
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Yinka Enoch Adedokun">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/UniWare_PandoIntegration.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery-3.7.0.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/toast.min.js"></script>
</head>



<div class="container-fluid">
    <br>
    <br>
    <br>
    <div class="card">
        <div class="card-body add_user_class">
            <form asp-action="Reset" asp-controller="Home" method="post">

                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 star">
                        @Html.Label("User Name")
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Enter User Name", @title = "Enter Unique User Name", @onchange = "fn_CheckUserName(this)", @required = "required", @pattern = "^(\\w+ ?)*$" })

                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                        @Html.Label("Old Password")
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Old Password", @onchange = "", @required = "required" })
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                        @Html.Label("New Password")
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                        @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New Password", @onchange = "", @required = "required" })
                    </div>
                </div>
                <div class="row">
                    <div class="input_field button_central">
                        <input type="submit" name="submit" id="submit" class="btn btn-danger red-text-dark" value="Reset" />
                        <a href="~/Home/Dashboard" class="logo"><input type="button" name="Back" id="Back" class="btn btn-danger red-text-dark" value="Back" /></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>